.banner {
  background: url("../image/banner-image.png") no-repeat center / cover;
  height: 50vh;
}

.banner-title, .banner-paragrafy {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.banner-title {
  font-size: 52px;
  line-height: 61.05px;
}

.banner-paragrafy {
    font-size: 22px;
    line-height: 25.93px;
}

.banner-button {
    gap: 10px;
}
